# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
ch5_2/.mvn/
ch5_2/ch5_2.iml
ch5_2/mvnw
ch5_2/mvnw.cmd
ch5_2/src/main/resources/static/
ch5_2/src/main/resources/templates/
ch5_2/target/
ch6_2_3/.mvn/
ch6_2_3/ch6_2_3.iml
ch6_2_3/mvnw
ch6_2_3/mvnw.cmd
ch6_2_3/src/main/resources/static/
ch6_2_3/src/main/resources/templates/
ch6_2_3/target/
ch6_4/.mvn/
ch6_4/ch6_4.iml
ch6_4/mvnw
ch6_4/mvnw.cmd
ch6_4/src/main/resources/static/
ch6_4/src/main/resources/templates/
ch6_4/target/
ch6_5/ch6_5.iml
ch6_5/target/
